/* home website style */

* {
  color: dimgrey;
  font-family: "arial", sans-serif;
}

/* background style */
.bg2 {
  padding: 20px;
}
.bg1 {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  display: flex;
}
.border {
  background-color: 2px solid grey;
}
.navigation {
  justify-content: flex-end;
}

/* text style */
.text {
  text-align: center;
}

.p1 {
  margin-left: 400px; 
  margin-right: 400px;
}

#list {
  text-align: left;
   
}

.text-list {
  margin-left: 200px;
  margin-right: 200px; 
  
  
}

/* image style */
.topbg {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid grey;
}

.midbg.img {
  padding: 20px;
}

.botbg .img {
  padding: 20px;
}
