/* home website style */

* {
  color: dimgrey;
  font-family: "arial", sans-serif;
}

/* background style */
.topbg {
  border-bottom: 2px solid grey;
}

.midbg {
  background-color: rgb(240, 240, 240);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid grey;
}

/* text style */
.h1 {
  text-align: center;
}

.p {
  margin-left: 400px; 
  margin-right: 400px;
}

.text {
  text-align: center;
}

.midbg .text {
  color: dimgrey;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ul {
  text-align: left; 
  margin-left: 200px;
  margin-right: 200px; 
  margin-bottom: 20px 
}

/* image style */
.topbg .img {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.midbg.img {
   padding: 20px;
}

.botbg .img {
   height:auto; 
   width:500px; 
   padding: 20px
}
